.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 2px solid rgba(95, 194, 183, 0.822);
  border-radius: 10px;
}
.search-icon{
  font-size: 25px;
  cursor: pointer;
}
.search{
  font-size: 18px;
  width: 200px;
  font-size: 20px;
  /* border-radius: 10px; */
  background:transparent;
  border: none;
  outline: none;
  color: black;
}